@charset "utf-8";
/* CSS Document */

nav {
	position:absolute;
	left:0;
	top:0;	
	z-index: 10000;
}

body { overflow:hidden; }

.home #sidebar {
	position:absolute;
	top:0;
	left:0 !important;
	margin-right:0 !important;
	margin-left:0 !important;
}

#homeContent {
	position:absolute;
	top:0;
	left:160px;	
}

#initialContent {
	left:245px;
	position:absolute;
	top:0;	
	z-index:500;
}

#ajaxContentViewport {
	position:absolute;
	left:245px;
	top:0;	
}

#ajax1, #ajax2, #ajax2 {
	position:absolute;
	top:0;
}

.ajaxLoader {
	background:#f4f4f4 url(../images/ajax-loader.gif) center center no-repeat;
	height:100%;
	width:100%;
	z-index:405;
	text-align:center;
	line-height:500px;
	font-size:48px;
}

.filter {
	left:228px;
}
