@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'LatoBlack';
    src: url('fontface/Lato-Black-webfont.eot');
    src: url('fontface/Lato-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontface/Lato-Black-webfont.woff') format('woff'),
         url('fontface/Lato-Black-webfont.ttf') format('truetype'),
         url('fontface/Lato-Black-webfont.svg#LatoBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'LatoBold';
    src: url('fontface/Lato-Bold-webfont.eot');
    src: url('fontface/Lato-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontface/Lato-Bold-webfont.woff') format('woff'),
         url('fontface/Lato-Bold-webfont.ttf') format('truetype'),
         url('fontface/Lato-Bold-webfont.svg#LatoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'LatoRegular';
    src: url('fontface/Lato-Regular-webfont.eot');
    src: url('fontface/Lato-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontface/Lato-Regular-webfont.woff') format('woff'),
         url('fontface/Lato-Regular-webfont.ttf') format('truetype'),
         url('fontface/Lato-Regular-webfont.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'LatoLight';
    src: url('fontface/Lato-Light-webfont.eot');
    src: url('fontface/Lato-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontface/Lato-Light-webfont.woff') format('woff'),
         url('fontface/Lato-Light-webfont.ttf') format('truetype'),
         url('fontface/Lato-Light-webfont.svg#LatoLight') format('svg');
    font-weight: normal;
    font-style: normal;

}



/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: #F0F0F0;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10px;
	background: #F0F0F0;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background:#d9d9d9;
	position: relative;
}

.jspDrag
{
	background:#9e9e9f;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 10px;
}

.jspHorizontalBar .jspArrow
{
	width: 10px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}




/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope { /*removed the "height" property here because having the height animate causes isotope not to fire during the resizing animation, which causes the grid to stay static during the animation*/
  -webkit-transition-property: width;
     -moz-transition-property: width;
       -o-transition-property: width;
          transition-property: width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}



