@charset "utf-8";
/* CSS Document */

/*.grid ul li:nth-child(3n+4) {
	margin-top:0;
}
*/
#gridWrapper {
	height:735px;
}

#content, #pageWrapper, #info, .info .slideshow, .slideshow li, .info article, #sidebar, .grid, .info, .info .slideshow li iframe, #textWrapper, #contact, .ajaxLoader, #ajax1, #ajax2, #ajax3 {
	height:730px;
	-webkit-transition: height .8s ease-in-out;
	-moz-transition: height .8s ease-in-out;
	-o-transition: height .8s ease-in-out;
	transition: height .8s ease-in-out;
	transition-delay: .4s;
	-moz-transition-delay: .4s; /* Firefox 4 */
	-webkit-transition-delay: .4s; /* Safari and Chrome */
	-o-transition-delay: .4s /* Opera */
}

#contact {
	height:690px;	
}

.infoHover { /*has to be slightly shorter than the full height to leave room for the play button of videos in work pages*/
	height:600px;	
}

nav {
	height:650px;	
	-webkit-transition: height .8s ease-in-out;
	-moz-transition: height .8s ease-in-out;
	-o-transition: height .8s ease-in-out;
	transition: height .8s ease-in-out;
	transition-delay: .4s;
	-moz-transition-delay: .4s; /* Firefox 4 */
	-webkit-transition-delay: .4s; /* Safari and Chrome */
	-o-transition-delay: .4s /* Opera */
}

.grid .slideGridLeftButton, .slideGridRightButton, .slideWorkLeftButton, .slideWorkRightButton, #nextPostButton, #prevPostButton {
	top:335px;
	-webkit-transition: top .8s ease-in-out, left .3s ease-in-out, right .3s ease-in-out;
	-moz-transition: top .8s ease-in-out, left .3s ease-in-out, right .3s ease-in-out;
	-o-transition: top .8s ease-in-out, left .3s ease-in-out, right .3s ease-in-out;
	transition: top .8s ease-in-out, left .3s ease-in-out, right .3s ease-in-out;
	transition-delay: .4s,0,0;
	-moz-transition-delay: .4s,0,0; /* Firefox 4 */
	-webkit-transition-delay: .4s,0,0; /* Safari and Chrome */
	-o-transition-delay: .4s,0,0; /* Opera */
}

.sf-menu ul {
	height:702px;
	-webkit-transition: height .8s ease-in-out;
	-moz-transition: height .8s ease-in-out;
	-o-transition: height .8s ease-in-out;
	transition: height .8s ease-in-out;
	transition-delay: .4s;
	-moz-transition-delay: .4s; /* Firefox 4 */
	-webkit-transition-delay: .4s; /* Safari and Chrome */
	-o-transition-delay: .4s /* Opera */
}

.pageInfoContainer {
	height: 730px;
	-webkit-transition: height .8s ease-in-out;
	-moz-transition: height .8s ease-in-out;
	-o-transition: height .8s ease-in-out;
	transition: height .8s ease-in-out;
	transition-delay: .4s;
	-moz-transition-delay: .4s; /* Firefox 4 */
	-webkit-transition-delay: .4s; /* Safari and Chrome */
	-o-transition-delay: .4s /* Opera */
}

.blog #content, .blog nav, .blog #info, .blog .info .slideshow, .blog .info article, .blog #sidebar, .blog .grid, .blog .pageInfoContainer, .blog .sf-menu ul {
	/*height:auto !important;*/
}





